aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.6.0
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
bitarray==2.7.5
boto==2.49.0
Cactus==3.3.3
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
chromedriver-py==114.0.5735.90
colorama==0.4.6
colorlog==6.7.0
constantly==15.1.0
cryptography==41.0.1
cytoolz==0.12.1
daphne==4.0.0
Django==1.6.11
django-markwhat==1.6.2
eth-abi==4.1.0
eth-account==0.9.0
eth-hash==0.5.2
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.4.0
eth-utils==2.1.1
exceptiongroup==1.1.1
frozenlist==1.3.3
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hexbytes==0.3.1
hpack==4.0.0
hypercorn==0.14.3
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
jsonschema==4.17.3
keyring==5.7.1
lru-dict==1.2.0
markdown2==2.4.8
multidict==6.0.4
outcome==1.2.0
parsimonious==0.9.0
Pillow==9.5.0
priority==2.0.0
protobuf==4.23.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.18.0
pyOpenSSL==23.2.0
pyrsistent==0.19.3
PySocks==1.7.1
pytube==12.1.3
pywin32==306
regex==2023.6.3
requests==2.31.0
rlp==3.0.0
selenium==4.10.0
service-identity==23.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
toml==0.10.2
toolz==0.12.0
tornado==6.3.2
trio==0.22.0
trio-websocket==0.10.3
Twisted==22.10.0
twisted-iocpsupport==1.0.3
txaio==23.1.1
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
web3 @ git+https://github.com/ethereum/web3.py.git@ba442ac70ea9cb037f6b10be3a0cc92c5a974f01
websockets==11.0.3
wsproto==1.2.0
yarl==1.9.2
zope.interface==6.0
